on early-init

on post-fs
    # USB Vendor ID for Samsung Electronics
    setprop vendor.usb.vid "0x04E8"

    # Creating the main gadget
    mkdir /config/usb_gadget/g1 0770 shell shell

    # Setting it up
    write /config/usb_gadget/g1/idVendor ${vendor.usb.vid}
    write /config/usb_gadget/g1/bcdDevice 0x0223

    # This is the USB 3.0 Standards
    write /config/usb_gadget/g1/bcdUSB 0x0300

    # 0x409 = English (United States)
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer "SAMSUNG"
    write /config/usb_gadget/g1/strings/0x409/product "SAMSUNG_Android"

    mkdir /config/usb_gadget/g1/configs/b.1
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409    

    # Begin creating functions
    # Let's start with nethunter's functions first

    # ADB
    mkdir /config/usb_gadget/g1/functions/ffs.adb 0770 shell shell
    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000 

    # HID
    mkdir /config/usb_gadget/g1/functions/hid.0
    mkdir /config/usb_gadget/g1/functions/hid.1

    # Mass Storage
    mkdir /config/usb_gadget/g1/functions/mass_storage.0
    mkdir /config/usb_gadget/g1/functions/mass_storage.0/lun.0

    # RNDIS
    mkdir /config/usb_gadget/g1/functions/rndis.gs4

    # mtp function
    mkdir /config/usb_gadget/g1/functions/ffs.mtp
    mkdir /dev/usb-ffs/mtp 0770 mtp mtp
    mount functionfs mtp /dev/usb-ffs/mtp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1

    # ptp function
    mkdir /config/usb_gadget/g1/functions/ffs.ptp 0770 shell shell
    mkdir /dev/usb-ffs/ptp 0770 mtp mtp
    mount functionfs ptp /dev/usb-ffs/ptp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1    

    # USB serial port (ttyACM0)
    mkdir /config/usb_gadget/g1/functions/acm.gs0 

    # Samsung Specific ? (DeX)
    mkdir /config/usb_gadget/g1/functions/conn_gadget.0

    # Musical MIDI over USB
    mkdir /config/usb_gadget/g1/functions/midi.0

    # Android Open Accessory mode (e.g., Arduino)
    mkdir /config/usb_gadget/g1/functions/accessory.0

    # Send audio over USB (Android Auto, DACs)
    mkdir /config/usb_gadget/g1/functions/audio_source.0
    
    # Probably some scamsung thing
    mkdir /config/usb_gadget/g1/functions/ss_mon.0
    
on boot
    # Enable USB gadget configfs
    setprop sys.usb.configfs 2

    # Set USB controller device node
    setprop sys.usb.controller "11201000.usb0"
    setprop vendor.usb.controller "11201000.usb0"

    # Disable asynchronous I/O compatibility for FunctionFS (optional, keep)
    setprop sys.usb.ffs.aio_compat 0

    # Enable one ACM (USB Serial) port
    setprop vendor.usb.acm_cnt 1
    setprop vendor.usb.acm_port0 0
    setprop vendor.usb.acm_port1 ""
    setprop vendor.usb.acm_enable 1

    # Set CPU affinity for MTP function (optional, but can improve performance)
    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0x80

    # Enable continuous MTP receive mode (optional)
    write /sys/module/usb_f_mtp/parameters/mtp_rx_cont 1

    # Set permissions and ownership for USB serial number
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial

    # Set permissions and ownership for USB serial gadget devices
    chown system radio /dev/ttyGS0
    chmod 0660 /dev/ttyGS0
    chown system radio /dev/ttyGS1
    chmod 0660 /dev/ttyGS1

    # USB OTG SD card hot plug detection polling interval
    write /sys/module/block/parameters/events_dfl_poll_msecs 1000

    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Conf 1"

    # 900 mAh
    write /config/usb_gadget/g1/configs/b.1/MaxPower 900

    mkdir /config/usb_gadget/g1/os_desc 0770 shell shell
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    write /config/usb_gadget/g1/os_desc/use 1


on charger && property:ro.debuggable=1
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer "SAMSUNG"
    write /config/usb_gadget/g1/strings/0x409/product "SAMSUNG_Android_lpm"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Conf 1"
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/ffs.adb
    setprop sys.usb.configfs 2
    setprop sys.usb.config adb

# Used to disable USB when switching states
on property:sys.usb.config=none
    write /sys/class/android_usb/android0/enable 0
    stop adbd
    setprop sys.usb.ffs.ready 0
    stop ss_conn_daemon2_service
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685d
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,acm,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

#For Smart MTP CHN start
on property:sys.usb.config=mtp,categories
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,categories,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,categories,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,categories,acm,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,categories,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6860
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions mtp,acm,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
#For Smart MTP CHN end

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6863
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6864
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6865
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6866
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,dm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6862
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,dm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6862
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,dm,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,acm,dm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6862
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,dm,dm1
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6862
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,dm,dm1,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,acm,dm,dm1,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x6862
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,dm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,dm,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=acm,dm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,dm,dm1
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,dm,dm1,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=acm,dm,dm1,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=dm,acm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=dm,acm,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=dm,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685D
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x685B
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x685e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x685e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# rndis,acm,diag and diag,acm,adb used for Hidden Menu

on property:sys.usb.config=rndis,diag
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x6862
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,acm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x685d
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}


on property:sys.usb.config=rndis,acm,diag
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x6864
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=sec_charging
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,ss_mon
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=sec_charging,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=sec_charging,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,adb,ss_mon
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vzw_charging
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vzw_charging,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=vzw_charging,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04E8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,adb
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

 on property:sys.usb.config=mtp,conn_gadget
    start ss_conn_daemon2_service
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,acm,conn_gadget,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,conn_gadget,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,conn_gadget,adb
    start ss_conn_daemon2_service
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,acm,conn_gadget,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

#For Smart MTP CHN start
on property:sys.usb.config=mtp,categories,conn_gadget
    start ss_conn_daemon2_service
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,acm,conn_gadget,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,categories,conn_gadget,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,categories,conn_gadget,adb
    start ss_conn_daemon2_service
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,acm,conn_gadget,adb,ss_mon
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
#For Smart MTP CHN end

# USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d00
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=accessory,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d01
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# audio accessory configuration
on property:sys.usb.config=audio_source
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d02
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# audio accessory configuration, with adb
on property:sys.usb.config=audio_source,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d03
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration
on property:sys.usb.config=accessory,audio_source
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d04
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB and audio accessory configuration, with adb
on property:sys.usb.config=accessory,audio_source,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=accessory,audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x2d05
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x686C
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=midi,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x686C
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

 on property:sys.usb.config=ncm
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685d
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/bDeviceClass 2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ncm,adb
    start adbd
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=ncm,adb
    write /sys/class/android_usb/android0/enable 0
    write /config/usb_gadget/g1/idProduct 0x685d
    write /config/usb_gadget/g1/idVendor 0x04e8
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /config/usb_gadget/g1/bDeviceClass 2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

